body {
  font-family: Georgia;
  background: url("resources/maincover.png");
  background-size: cover;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 23px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  position: absolute;
  top:13%;
  left: 7%;
}

.t1 {
  border-collapse: collapse;
  width: 100%;
  position: absolute;
  top: 139%;
}

.t2 {
  border-collapse: collapse;
  width: 100%;
  position: absolute;
  top: 289%;
}

table img {
  max-width: 100%; /* Set a specific maximum width for the images */
  height: auto; /* Maintain the aspect ratio */
}
table td {
  size: small;
}

@media only screen and (max-width: 420px) {
  .table {
    left: 6%;
  }
  .t1 {
    top: 50%;
  }
  .t2 {
    top: 100%;
  }
}